@using Microsoft.AspNetCore.Identity
@using training_net.Repositories.Database
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject UserManager<User> UserManager
@model training_net.Models.Views.MovieViewModel

@{ViewData["DetailsDeleteTitle"] = Localizer["MovieDetailsTitle"].Value;}
<partial name="~/Views/Shared/_Details.cshtml" view-data="ViewData"  />
<hr />
<div>
    <h4>Add a comment!</h4>
    <dl class="dl-horizontal">
        <dt>
            @UserManager.GetUserName(User) says:    
        </dt>
        <dd>
            <div>
                <input id="movieId" type="hidden" value="@Model.Id" />      
                <input id="formUserName" type="hidden" name="currentUser" value="@UserManager.GetUserName(User)" />
                <textarea id="formText" name="comment" value="Write your comment here..." rows="5" cols="50"></textarea>
                <button id="submitBtn" href="javascript:void(0)">@Localizer["Send"]</button>
            </div>
        </dd>
    </dl>
</div>
@{int commentsQty = Model.Comments.Count();}
<div>
    <hr />
    <div>
        <h4>Comments!</h4>
        There are <strong id="commentsQty" data-qty="@commentsQty">(@commentsQty)</strong> comments
        <div id="commentsTable">
            @foreach (var item in Model.Comments)
            {
                <dl class="dl-horizontal">
                    <td>
                        @Model.Comments.IndexOf(item) | <strong>@Html.DisplayFor(modelItem => item.User.UserName)</strong> says:
                    </td>
                    <td>
                        <i>"@Html.DisplayFor(modelItem => item.Text)"</i>
                    </td>
                </dl>  
            }
        </div>
    </div>
</div>
<hr />
<div>
<a asp-action="Index">@Localizer["BackToList"].Value</a>
</div>
