@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model System.Collections.Generic.List<training_net.Models.Views.MovieViewModel>

<h2>@Localizer["MovieControllerTitle"]</h2>
<p>@Localizer["MovieControllerParagraph"]</p>

<div>
<a asp-action="Create">@Localizer["MovieCreateTitle"]</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Localizer["Genre"]
            </th>
            <th>
                @Localizer["Price"]
            </th>
            <th>
                @Localizer["ReleaseDate"]
            </th>
            <th>
                @Localizer["Title"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    <a  asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
