@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model training_net.Models.Views.MoviesAndGenresViewModel

<h2>@Localizer["MovieControllerTitle"]</h2>

<div>
<a asp-action="Create">@Localizer["MovieCreateTitle"]</a>
</div>
<form asp-controller="Movies" asp-action="Index" method="get">
    <p>
        <select name="movieGenre" asp-items="Model.GenreList">
            <option value="">All</option>
        </select>
        @Localizer["Title"]: <input type="text" name="SearchString">
        <input type="submit" value="@Localizer["Filter"]" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Localizer["Title"]
            </th>
            <th>
                @Localizer["Genre"]
            </th>
            <th>
                @Localizer["Price"]
            </th>
            <th>
                @Localizer["ReleaseDate"]
            </th>
            <th>
                @Localizer["Rating"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MovieList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">@Localizer["Edit"]</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">@Localizer["Delete"]</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">@Localizer["Details"]</a> |
                    <a asp-action="SendMovieInfo" asp-route-id="@item.Id">@Localizer["Send"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>
