@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<h2>@Localizer["MovieControllerTitle"]</h2>
<p>@Localizer["MovieControllerParagraph"]</p>

<div>
<a asp-action="Create">@Localizer["MovieCreateTitle"]</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Localizer["Genre"].Value
            </th>
            <th>
                @Localizer["Price"].Value
            </th>
            <th>
                @Localizer["ReleaseDate"].Value
            </th>
            <th>
                @Localizer["Title"].Value
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td></td>
            </tr>
        }
    </tbody>
</table>
