@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.Rendering
@inject IViewLocalizer Localizer
@model training_net.Models.Views.MoviesAndGenresViewModel

<h2>@Localizer["MovieControllerTitle"]</h2>

<div>
<a asp-action="Create">@Localizer["MovieCreateTitle"]</a>
</div>
<form asp-controller="Movies" asp-action="Index" method="get">
    <p>
        <select name="movieGenre" asp-items="Model.GenreList" asp-for="CurrentGenre">
            <option value="">All</option>
        </select>
        <select name="pageSize" asp-items="@{new SelectList(Enumerable.Range(1, 10));}" asp-for="CurrentPageSize">
        </select>
        @Localizer["Title"]: <input type="text" name="searchString" asp-for="CurrentSearch" />
        @Html.Hidden("sortOrder", Model.CurrentSort)
        @Html.Hidden("movieGenre", Model.CurrentGenre)
        @Html.Hidden("searchString", Model.CurrentSearch)
        <input type="submit" value="@Localizer["Filter"]" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a  asp-action="Index"
                    asp-for="CurrentSort"
                    asp-route-pageSize="@Model.CurrentPageSize"
                    asp-route-movieGenre="@Model.CurrentGenre"
                    asp-route-searchString="@Model.CurrentSearch"
                    asp-route-sortOrder="@ViewData["TitleSortParm"]">@Localizer["Title"]
                </a>
            </th>
            <th>
                <a  asp-action="Index"
                    asp-for="CurrentSort"
                    asp-route-pageSize="@Model.CurrentPageSize"
                    asp-route-movieGenre="@Model.CurrentGenre"
                    asp-route-searchString="@Model.CurrentSearch"
                    asp-route-sortOrder="@ViewData["GenreSortParm"]">@Localizer["Genre"]
                </a>
            </th>
            <th>
                <a  asp-action="Index"
                    asp-for="CurrentSort"
                    asp-route-pageSize="@Model.CurrentPageSize"
                    asp-route-movieGenre="@Model.CurrentGenre"
                    asp-route-searchString="@Model.CurrentSearch"
                    asp-route-sortOrder="@ViewData["PriceSortParm"]">@Localizer["Price"]
                </a>
            </th>
            <th>
                <a  asp-action="Index"
                    asp-for="CurrentSort"
                    asp-route-pageSize="@Model.CurrentPageSize"
                    asp-route-movieGenre="@Model.CurrentGenre"
                    asp-route-searchString="@Model.CurrentSearch"
                    asp-route-sortOrder="@ViewData["DateSortParm"]">@Localizer["ReleaseDate"]
                </a>
            </th>
            <th>
                <a  asp-action="Index"
                    asp-for="CurrentSort"
                    asp-route-pageSize="@Model.CurrentPageSize"
                    asp-route-movieGenre="@Model.CurrentGenre"
                    asp-route-searchString="@Model.CurrentSearch"
                    asp-route-sortOrder="@ViewData["RatingSortParm"]">@Localizer["Rating"]
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MovieList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">@Localizer["Edit"]</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">@Localizer["Delete"]</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">@Localizer["Details"]</a> |
                    <a asp-action="SendMovieInfo" asp-route-id="@item.Id">@Localizer["Send"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.MovieList.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.MovieList.HasNextPage ? "disabled" : "";
}

<a  asp-action="Index"
    asp-route-pageSize="@Model.CurrentPageSize"
    asp-route-movieGenre="@Model.CurrentGenre"
    asp-route-searchString="@Model.CurrentSearch"
    asp-route-sortOrder="@Model.CurrentSort"
    asp-route-page="@(Model.MovieList.PageIndex - 1)"
    class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
    asp-route-pageSize="@Model.CurrentPageSize"
    asp-route-movieGenre="@Model.CurrentGenre"
    asp-route-searchString="@Model.CurrentSearch"
    asp-route-sortOrder="@Model.CurrentSort"
    asp-route-page="@(Model.MovieList.PageIndex + 1)"
    class="btn btn-default @nextDisabled">
    Next
</a>
